@charset "UTF-8";

/*Estilo para impressão */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

article::after{
    content: 'Artigo feito no dia 21/06/2024';
    font-family: 'Times New Roman', Times, serif;
}