@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0 10vh 0;
    line-height: 2.2rem;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(27, 27, 27);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.205);
    padding-left: 15px;
    width: 250px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
