@charset "utf-8";

* {
    /*height: 100% ;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #9AEBA3,#DAFDBA);
}

main {
    background-color: white;
    box-shadow: 0px 0px 10px 0px #012030;
    border-radius: 10px;
    width: 600px;
    height: 700px;
    padding: 15px;
    margin: auto;

}

h1 {
    color: #012030;
    text-align: center;
}

h2 {
    color: #13678A;
}

p {
    text-align: justify;
}
